/* Colour Scheme 
Red: #d06843
Blue: #d2e2e2
Pink: #ebccca
DimGray: #4b5b5a
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@500&display=swap");
h1 {
  font-family: 'Raleway', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainPink: #ebccca;
  --mainYellowish: #faf3ddff;
  --mainGreen: #b8f2e6ff;
  --mainBlue: #d2e2e2;
  --mainGrey: #4b5b5a;
  --mainWhite: #ffffffea;
  --mainOffWhite: #faf6d8;
  --mainDark: #4e5c5c;
  --mainRed: #d06843;
}

#gatsby-focus-wrapper {
  margin: 0 auto;
  // width: 80%;
}

.wrapper {
  /* box-shadow: 0 0 50px rgb(236,206,204,0.5); */
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
}

section {
  /* height: 80vh; */
}

.default-background {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255.255.255.0.5)); */
  background-size: cover;
}

.btn-pink {
  color: var(--mainGrey);
  border-color: var(--mainPink);
}

.btn-pink:hover {
  background: var(--mainPink);
  color: var(--mainWhite);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.btn-green {
  border-color: var(--mainGreen);
  color: var(--mainGrey);
}

.btn-green:hover {
  background: var(--mainGreen);
  color: var(--mainDark);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.btn-yellowish {
  border-color: var(--mainYellowish);
  color: var(--mainGrey);
}

.btn-yellowish:hover {
  background: var(--mainYellowish);
  color: var(--mainDark);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.btn-blue {
  border-color: var(--mainBlue);
  color: var(--mainGrey);
}

.btn-blue:hover {
  background: var(--mainBlue);
  color: var(--mainDark);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.footer {
  background: var(--mainGrey);
  color: var(--mainOffWhite);
}

.menu {
  min-height: 80vh;
}

.contact {
  min-height: 50vh;
}

/* Treatment Page */
.wrapper-listed-item {
  margin: 1rem;
}

/* Snipcart Overwites */

.cart-icon {
  button {
    background:rgba(255,255,255,0.1) !important;
  }
}
.snip-layout .snip-footer {
  background: var(--mainWhite) !important;
}

.snip-layout .snip-footer__copyright {
  font-size: 0 !important;
  height: 20px;
}

.snip-btn--highlight {
  color: var(--mainDark) !important;
  background: var(--mainPink) !important;
}

.snip-ico--close {
  color: var(--mainDark) !important;
}

.snipcart-checkout {
  background: rgba(255,255,255,0.8) !important;
}

.snip-header {
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  border-radius: 10%;
}

.snip-step__item {
  padding-left: 0.3rem !important;
}

.snip-step__label {
  padding-left: 0.3rem !important;
}

.snip-header__total {
  background: var(--mainPink) !important;
}

/* Bootstrap Override*/
.prd-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prd-item-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* Animations */
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .row-group {
    margin: 3rem 20rem;
  }

  #gatsby-focus-wrapper {
    margin: 0 auto;
    width: 100%;
  }
}